<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jiayix</display-name>
  <description>jiayix</description>
  <servlet>
    <servlet-name>my-servlet</servlet-name>
    <servlet-class>FavoriteMain</servlet-class>
    <init-param>
      <param-name>jdbcDriver</param-name>
      <param-value>  com.mysql.jdbc.Driver  </param-value>
    </init-param>
    <init-param>
      <param-name>jdbcURL</param-name>
      <param-value>jdbc:mysql:///test</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>my-servlet</servlet-name>
    <url-pattern>/jiayix</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>jiayix</welcome-file>
  </welcome-file-list>
</web-app>